.BaseLayout {
}

.navbarWr {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 5.5rem;
    height: 100vh;
}

.contentWr {
    margin-left: 5.5rem;
    width: calc(100% - 5.5rem);
}
