:root {
    // Colors
    --color-main: #332d4d;
    --color-main-hover: #1b1924;
    --color-main-active: #0a0a0b;

    --color-bg: #f5f5f5;

    --color-white: #fff;
    --color-white-hover: #f1f1f1;
    --color-white-active: #e8e8e8;

    --color-lightwhite: #f1f1f1;
    --color-lightwhite-hover: #ccc;
    --color-lightwhite-active: #bbb;

    --color-success: #28a745;
    --color-success-hover: #1e8536;
    --color-success-active: #18652a;

    --color-danger: #dc3545;
    --color-danger-hover: #b42d3a;
    --color-danger-active: #8f232e;

    --color-info: #6c757d;
    --color-info-hover: #51575d;
    --color-info-active: #434648;


    // Font size
    --fsz-700: 1.8rem;
    --fsz-500: 1.5rem;
    --fsz-400: 1.4rem;
    --fsz-300: 1.3rem;


    // Transitions
    --transition-button: 0.1s;
}
