* {
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}

body,
h1, h2, h3, h4, h5, h6,
p,
hr,
ul, ol,
button {
    margin: 0;
    padding: 0;
}


button, input, select, textarea {
    border: none;
    background: transparent;
}

hr {
    border: none;
}


ul, ol, li {
    list-style: none;
}


h1, h2, h3, h4, h5, h6,
button, input, select, textarea,
a, :link, :visited {
    text-decoration: inherit;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
}


textarea {
    resize: none;
}

button, a, *[role='button'] {
    cursor: pointer;
}
