.Panel {
    position: relative;
    padding: 1rem;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0 rgba($color: #000, $alpha: 0.2);
    background-color: var(--color-white);
}

.topControlsWr {
}

.communicatorsWr {
    margin-top: 1rem;
}

.textsWr {
    margin-top: 1.9rem;
}

.timersWr {
    margin-top: 1.9rem;
}
