.PanelTimeout {
    display: flex;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin-right: 0.5rem;
}

.input {
    display: inline-block;
    border: 1px solid #222;
    height: 2.5rem;
    border-radius: 0.2rem;
}

.numberInput {
    width: calc(32%);
}

.controls {
    display: flex;
    align-items: center;
}

.deleteButton {
    border: 1px solid #d55;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.2rem;
    color: #d55;
}

