.AccountRow {
}

.cell {
    padding: 0.8rem 1rem;
}

.link {
    color: #44e;
}

.deleteButton {
    border: 1px solid #e44;
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
    color: #e44;
}
