@import '~scss/share/Input';

.Communicator {
}

.title {
    padding-left: 0.6rem;
    color: #555;
    font-weight: bold;
    font-size: var(--fsz-300);
}

.inputWr {
    margin-top: 0.3rem;
}

.input {
    @extend %inputBase;
    @extend %inputPadding_sm;
    display: block;
    width: 100%;
}
