.NavBar {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba($color: #eee, $alpha: 1);
    background-color: var(--color-main);
}
