.PanelTimer {
    display: flex;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin-right: 0.5rem;
}

.input {
    display: inline-block;
    border: 1px solid #222;
    height: 2.5rem;
    border-radius: 0.2rem;

    &:not(:last-child) {
        margin-right: 0.8rem;
    }

    &_timer {
        width: calc(70%);
    }

    &_repeat {
        width: calc(30%);
    }
}

.controls {
    display: flex;
    align-items: center;
}

.deleteButton {
    border: 1px solid #d55;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.2rem;
    color: #d55;
}
