@import '~scss/share/Input';

.PanelTimer {
    display: flex;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin-right: 0.5rem;
}

.input {
    @extend %inputBase;
    @extend %inputPadding_sm;
    display: inline-block;
    font-size: var(--fsz-400);

    &:not(:last-child) {
        margin-right: 0.8rem;
    }

    &_timer {
        width: calc(65%);
    }

    &_repeat {
        width: calc(35%);
    }
}

.controls {
    display: flex;
    align-items: center;
}
