@import '~scss/share/Input';

.Text {
    display: flex;
}

.textareaWr {
    flex-basis: 100%;
    margin-right: 0.5rem;
}

.textarea {
    @extend %inputBase;
    @extend %inputPadding_sm;
    display: block;
    width: 100%;
    height: 7rem;
    font-size: var(--fsz-400);
    overflow-y: scroll;
    resize: vertical;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        border-top-right-radius: 0.4rem;
        background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0.4rem;
        background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    &::-webkit-resizer {
        border: 1rem solid #f1f1f1;
        border-right-color: #888;
        border-bottom-color: #888;
    }
}

.controls {
    display: flex;
    align-items: start;
}
