.TopControls {
}

.controlList {
    display: flex;
    justify-content: flex-end;
}

.controlWr {

    &:not(:last-child) {
        margin-right: 0.6rem;
    }
}

.control {
    width: 2rem;
    height: 2rem;
}

.activateCheckbox {
}
