.LoginForm {
}

.inputList {
    margin-top: 2.5rem;
}

.inputItem {

    &:not(:first-child) {
        margin-top: 2rem;
    }
}

.submitWr {
    margin-top: 2.5rem;
}

.submit {
    padding: 1.2rem;
    min-width: 10rem;
    border-radius: 0.4rem;
    background-color: var(--color-main);
    color: #fff;
    transition: var(--transition-button);

    &:hover {
        background-color: var(--color-main-hover);
    }

    &:active {
        background-color: var(--color-main-active);
    }
}
